@model WebApp.Models.Entities.BaiViet

@{
    ViewBag.Title = "ChiTietBaiViet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Public/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

<div class="container mb-5">
    <div class="media">
        <h1 class="mb-10 font-size-h2">
            @Model.TieuDe
        </h1>
        <div class="text-muted font-size-xs">
            <span class="mr-5 mt-5 d-block d-md-inline">
                <span class="font-italic">
                    <i class="far fa-fw fa-eye mr-5"></i>
                    @Model.LuotXem lượt xem
                </span>
                <span class="font-italic">
                    @*<i class="far fa-fw fa-heart"></i>*@
                    <button class="far fa-fw fa-heart"> </button>
                    @Model.LuotThich lượt thích
                </span>
                <span class="font-italic">
                    <i class="far fa-fw fa-comment mr-5"></i>
                    5 phản hồi
                </span>
            </span>
        </div>
        <div class="mt-5 d-flex justify-content-between">
            <a href="#" class="post">@Model.NgonNgu</a>
        </div>
    </div>
</div>

<div>
    <p>@Model.NoiDungBaiViet</p>
    <img src="@Model.HinhAnh" />
</div>
<div class="form-group">
    <div class="col-md-4">
        <hr />
        <input class="form-control" type="text" name="phanhoi" value="" />
        <a class="btn btn-success" href="@Url.Action("ThemPhanHoi", "PhanHoi")">Đăng</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function TaiDsBaiLuyen() {
        $.ajax({
            url: '/BaiViet/Thich',
            type: 'get',
            success: function (data) {
                //    load lại không chèn cũ;
                $('#like').empty();

                if (data.code == 200) {
                    $.each(data.ds, function (k, v) {

                        let tr = '<tr>'
                        tr += '<td class="pd-l">' + v.TenLuyenTap + '</td>';
                        tr += '<td>' + v.YeuThich + '</td>';
                        tr += '<td>' + v.NgonNgu + '</td>';
                        tr += '<td>' + v.CapDo + '</td>';
                        tr += '<td>';

                        tr += '<button class = "btn btn-primary">' + 'Thêm' + '</button>';
                        tr += '<button class = "btn btn-warning mg-lr">' + 'Sửa' + '</button>';
                        tr += '<button class = "btn btn-danger">' + 'Xóa' + '</button>';

                        tr += '</td>';
                        tr += '</td>';


                        $('#like').append(tr);

                    })
                }
            }
        })
    }
</script>