@model WebApp.Models.Entities.BaiViet

@{
    ViewBag.Title = "ChiTietBaiViet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Public/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

<div class="container mb-5">
    <div class="media">
        <h1 class="mb-10 font-size-h2">
            @Model.TieuDe
        </h1>
        <div class="text-muted font-size-xs">
            <span class="mr-5 mt-5 d-block d-md-inline">
                <span class="font-italic">
                    <i class="far fa-fw fa-eye mr-5"></i>
                    @Model.LuotXem lượt xem
                </span>
                <span class="font-italic">
                    @*<i class="far fa-fw fa-heart"></i>*@
                    <button class="far fa-fw fa-heart" id="btnLike"> </button>
                    @Model.LuotThich lượt thích
                    <span id="luotthich"> </span>
                </span>
                <span class="font-italic">
                    <i class="far fa-fw fa-comment mr-5"></i>
                    5 phản hồi
                </span>
            </span>
        </div>
        <div class="mt-5 d-flex justify-content-between">
            <a href="#" class="post">@Model.NgonNgu</a>
        </div>
    </div>
</div>

<div>
    <p>@Model.NoiDungBaiViet</p>
    <img src="@Model.HinhAnh" />
</div>
<div class="form-group">
    <div class="col-md-4">
        <hr />
        <input class="form-control" type="text" name="phanhoi" value="" />
        <a class="btn btn-success" href="@Url.Action("ThemPhanHoi", "PhanHoi")">Đăng</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#btnLike').click(function () {
        $.ajax({
            url: '/BaiViet/Thich',
            type: 'post',
            data: ,
            success: function (data) {
                if (data.code == 200) {
                    alert(data.msg);
                        $.each(data.ds, function (k, v) {

                            let tr = '<tr>'
                            tr += '<td class="pd-l">' + v.TenLuyenTap + '</td>';
                            tr += '<td>' + v.YeuThich + '</td>';
                            tr += '<td>' + v.NgonNgu + '</td>';
                            tr += '<td>' + v.CapDo + '</td>';
                            tr += '<td>';

                            tr += '<button class = "btn btn-primary">' + 'Thêm' + '</button>';
                            tr += '<button class = "btn btn-warning mg-lr">' + 'Sửa' + '</button>';
                            tr += '<button class = "btn btn-danger">' + 'Xóa' + '</button>';

                            tr += '</td>';
                            tr += '</td>';


                            $('#BT').append(tr);
                } else {
                    alert(data.msg);
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        TaiDsBaiLuyen();
    })
    // Chỉnh sửa chi tiết
    $(document).on('click', "button[name='view']", function () {
        let idBT = $(this).closet('tr').find('.name').attr('id');
        alert(idBT);
    });

    // Thêm mới
    $('#btnSubmit').click(function () {
        let TenBaiTap = $('#TenLuyenTap').val().trim();
        let YeuThich = $('#YeuThich').val().trim();
        let NgonNgu = $('#NgonNgu').val().trim();
        let CapDo = $('#CapDo').val().trim();

        if (TenBaiTap.length == 0 || YeuThich.length == 0 || NgonNgu.length == 0 || CapDo.length == 0) {
            alert('Vui lòng điền đây đủ nội dung!');
            return;
        }

        // dùng ajax theem moi BT
        $.ajax({
            url: '/LuyenCodeAdmin/AddBT',
            type: 'post',
            data: {
                tenBT: TenBaiTap,
                yeuThich: YeuThich,
                ngonNgu: NgonNgu,
                doKho: CapDo
            },
            success: function (data) {
                if (data.code == 200) {
                    alert(data.msg);
                    TaiDsBaiLuyen();
                    $('#TenLuyenTap').val('');
                    $('#YeuThich').val('');
                } else {
                    alert(data.msg);
                }
            }
        });
    });

    $('#btnAdd').click(function () {
        $('#modalBT').modal();
    })


    // Load danh sách
    function TaiDsBaiLuyen() {
        $.ajax({
            url: '/LuyenCodeAdmin/DsBT',
            type: 'get',
            success: function (data) {
                //    load lại không chèn cũ;
                $('#BT').empty();

                if (data.code == 200) {
                    $.each(data.ds, function (k, v) {

                        let tr = '<tr>'
                        tr += '<td class="pd-l">' + v.TenLuyenTap + '</td>';
                        tr += '<td>' + v.YeuThich + '</td>';
                        tr += '<td>' + v.NgonNgu + '</td>';
                        tr += '<td>' + v.CapDo + '</td>';
                        tr += '<td>';

                        tr += '<button class = "btn btn-primary">' + 'Thêm' + '</button>';
                        tr += '<button class = "btn btn-warning mg-lr">' + 'Sửa' + '</button>';
                        tr += '<button class = "btn btn-danger">' + 'Xóa' + '</button>';

                        tr += '</td>';
                        tr += '</td>';


                        $('#BT').append(tr);

                    })
                }
            }
        })
    }


</script>    