
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Public/css/_Layout.css" rel="stylesheet" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper font">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col can_giua">
                    <h1>Quản lý trang web - Admin</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <h3>@ViewBag.khoahoc</h3>
                        <p> Số khóa học </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="card-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <h3>  ₹@ViewBag.user  </h3>
                        <p>  Số lượng tài khoản</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="card-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-orange">
                    <div class="inner" style="color: white;">
                        <h3> @ViewBag.baitap </h3>
                        <p> Số lượng bài tập </p>
                    </div>
                    <div class="icon" >
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div>
                    <a style="color: white!important;" href="#" class="card-box-footer text-white">Xem thêm<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3> @ViewBag.baitap </h3>
                        <p>Số lượng người truy cập </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="#" class="card-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>


    @*<section class="content row ">
        <div class="col TheThongKe ">
            <div>Số lượng tài khoản</div>
            <div class="number_count">@ViewBag.user </div>
        </div>
        <div class="col TheThongKe">
            <div>Số khóa học</div>
            <div class="number_count">@ViewBag.khoahoc</div>
        </div>
        <div class="col TheThongKe">
            <div>Số lượng bài tập</div>
            <div class="number_count">@ViewBag.baitap</div>
        </div>
        <div class="col TheThongKe">
            <div>Số lượng người truy cập</div>
            <div class="number_count">@ViewBag.baitap</div>
        </div>


    </section>*@
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->