@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Public/css/_Layout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("header", required: false)
</head>
<body>

    <section class="header clearfix">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-2 logo">
                    <img src="~/Public/images/logo.png" alt="Logo" class="img-fluid" />
                </div>
                <div class="col-md-7" style="margin-top:40px">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>

    <section class="mainmenu clearfix bg-footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-main">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="~/Home/Index">Trang chủ</a>
                    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Khoá học
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Java cơ bảnn</a></li>
                                    <li><a class="dropdown-item" href="~/BaiHoc/Index">C# cơ bản</a></li>
                                    <li><a class="dropdown-item" href="#">C/C++ cơ bản</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Tri thức</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Index", "LuyenCode", new { @id = 1})">Luyện code</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bài tập
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="@Url.Action("Index", "CongDong", new { @id = 1})" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cộng đồng
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "CauHoi")">Hỏi đáp</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "BaiViet")">Bài viết</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>


                        </ul>

                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                            <div style="display:flex" class="nav-item dropdown align-content-end">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Xin chào @User.Identity.GetUserName()
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a  class="dropdown-item noUnderlined text-red" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>                                
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Loading...</a></li>
                                </ul>
                            </div>
                            }
                        }
                        else
                        {
                    <div style="display:flex" class="nav-item dropdown align-content-end">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tài khoản
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item noUnderlined text-black">@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li class="dropdown-item noUnderlined text-black">@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Loading...</a></li>
                        </ul>
                    </div>
                        }
                    </div>
                </div>
            </nav>

        </div>
    </section>

    <section class="maincontent clearfix">
        @RenderBody()
    </section>

    <section class="footer clearfix bg-footer py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="text-light">Chúng tôi là ai?</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="text-light">Chính sách</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="text-light">Khu cộng đồng</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="text-light">Trợ giúp</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="copyright clearfix bg-footer py-2">
        <div class="container text-center text-light  border-top border-light">
            <div>
                Bản quyền thuộc về Phạm Anh Vũ - Lương Xuân Nhất
            </div>
        </div>
    </section>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @RenderSection("footer", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
