@model WebApp.Models.Entities.CauHoi
@{
    ViewBag.Title = "ChiTietCauHoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Public/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Public/css/checkbox_heart.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Public/css/Css_ChiTietBaiViet.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<body class="body">
    <div class="container pb50" style="margin-top: 56px;">
        <div class="row">
            <div class="col mb40">
                <article>
                    @* Ảnh *@
                    <img src="" alt="" class="img-fluid mb30">
                    <div class="post-content">
                        <h3>@Model.TieuDe</h3>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o "></i> <a href="#">@ViewBag.TenTaiKhoan</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">@Model.NgayDang.ToShortDateString()</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-eye"></i> <a href="#">@Model.LuotXem lượt xem</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-comment"></i>
                                <a href="#">
                                    <span id="sophanhoi" data-id="@Model.IdCauHoi"></span> phản hồi
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tag "></i> <a href="#">@Model.NgonNgu</a>
                            </li>
                        </ul>
                        <hr>

                        <div class="mt-5 d-flex justify-content-between">
                            <p>@Model.NoiDungCauHoi</p>
                        </div>

                        <div>
                            <img style="width:20em" src="@Model.HinhAnh" />
                        </div>

                        <br />
                        <h5 class=" font500">Viết bình luận</h5>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" cols="2" rows="2" id="phanhoi" placeholder="Thêm bình luận"></textarea>
                            </div>
                            <div class="pd-t-16">
                                <a class="btn btn-default " id="addComment" data-id="@Model.IdCauHoi">Đăng</a>
                            </div>
                        </form>
                        <div class="media mb40">
                            <br />
                            <div style="font-size:14px;font-weight:500;" id="dsphanhoi" data-id="@Model.IdCauHoi"> </div>
                        </div>
                    </div>
                </article>
                <!-- post article-->

            </div>
        </div>
    </div>
</body>





@section scripts
{
    <script>
        $(document).ready(function () {
            DsPhanHoi();
        })
        $('#addComment').click(function () {
            let noidung = $('#phanhoi').val().trim();
            if (noidung.length == 0) {
                alert('Phản hồi không được để trống !');
                return;
            }
            $.ajax({
                url: '/PhanHoi/ThemPhanHoiCauHoi',
                type: 'post',
                datatype: 'json',
                data: { id: $(this).data('id'), noidung: noidung},
                success: function (data) {
                    if (data.code == 200) {
                        $('#phanhoi').val('');
                        DsPhanHoi();
                        console.log(id);
                    }
                    else if (data.code == 300) {
                        alert("Đăng nhập để phản hồi !")
                    }
                }
            });
        });

        function DsPhanHoi() {
            $.ajax({
                url: '/PhanHoi/DsPhanHoiCauHoi',
                type: 'post',
                datatype: 'json',
                data: { id: $('#dsphanhoi').data('id')},
                success: function (data) {
                    $('#sophanhoi').empty();
                    $('#dsphanhoi').empty();
                    if (data.code == 200) {
                        $.each(data.ds, function (k, v) {
                            let tr = '<div class="link-primary" > <i class="fa fa-user-circle-o "></i>';
                            tr += v.User.TenTaiKHoan + '</div>'
                            tr += '<div>' + v.NoiDung + '</div>';
                            tr += '<hr />';
                            $('#dsphanhoi').append(tr);
                        })
                        $('#sophanhoi').append(data.sophanhoi);
                    }
                }
            });
        }
    </script>
}