@model IEnumerable<WebApp.Models.Entities.ChiTietBaiHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}





<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 ">
                        <strong>Danh sách bài học</strong>
                    </div>
                    <div class="col-6 float-end">
                    </div>
                </div>
            </div>
            <div class="card-body">

                <p>
                    @Html.ActionLink("Thêm nội dung", "Create")
                </p>
                <span  class="badge text-bg-success">
                    @ViewBag.tenBaiHoc
                </span>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <span style="margin-top:10px">Nội dung bài học</span>
                        <div class="col-9">
                            <label for="exampleFormControlTextarea1" class="form-label"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"> @Html.DisplayFor(modelItem => item.NoiDung1)</textarea>
                        </div>


                        <div class="col-3" style="margin-top:100px">

                            <a href=" @Url.Action("Edit","ChiTietBaiHocs", new { id = item.IdChiTietBaiHoc })" class="btn btn-outline-warning " role="button" data-bs-toggle="button">Chỉnh sửa</a>
                            <a href="@Url.Action("Delete","ChiTietBaiHocs", new { id = item.IdChiTietBaiHoc })" class="btn btn-outline-warning" role="button" data-bs-toggle="button">Xoá</a>
                        </div>
                    }
                </div>
              

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
