@model PagedList.IPagedList<WebApp.Models.Entities.LuyenCode>
@using PagedList.Mvc;


                        @*      INDEX CỦA TRANG LUYỆN CODE      *@


<link href="~/Public/css/Css_LuyenCode.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Ngan.cshtml";
}


<div class="container  PageList">
    <table class="styled-table">
        <thead>
            <tr>
                <th style="width: 40em">Tên bài tập</th>
                <th style="width: 10em">Lượt yêu thích</th>
                <th style="width: 10em">Cấp độ</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                @if (item.Id % 2 == 1)
                {
                <tr>
                    <td><a class="noUnderlined text-black" href="@Url.Action("ChiTiet", "LuyenCode", new { @id = item.Id})">@item.TenLuyenTap</a></td>
                    <td>@item.YeuThich</td>
                    <td>@item.DoKho</td>
                </tr>
                }
                else
                {
                    <tr class="active-row">
                        <td class="active-row"><a class="noUnderlined " href="@Url.Action("ChiTiet", "LuyenCode", new { @id = item.Id})" >@item.TenLuyenTap</a></td>
                        <td>@item.YeuThich</td>
                        <td>@item.DoKho</td>
                    </tr>
                }



            </tbody>
        }

    </table>
</div>




<div class="container ">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 PageList">
                <div class="panel panel-default " style="justify-items: center">
                    <div class="panel panel-heading text-danger PageList">
                        <h5>@item.TenLuyenTap</h5>
                    </div>
                    <div class="panel-body ">
                        <p class="PageList">Yêu thích: <span>@item.YeuThich</span></p>
                        <p>
                            <img style="width : 250px" src="~/Content/images/b.jpg" />
                        </p>
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>


<div >
    <div class="PageList">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
    <div class="PageList ">
        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
            page = page
        }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

