@model WebApp.Models.Entities.BaiHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenBaiHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBaiHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdKhoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdKhoaHoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBaiHoc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
