@model WebApp.Models.Entities.BaiHoc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 ">
                        <strong>Chỉnh sửa bài học</strong>
                    </div>
                    <div class="col-6 float-end">
                    </div>
                </div>
            </div>
            <div class="card-body">

       


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                     
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.IdBaiHoc)

                        <div class="form-group">
                            <p>Tên bài học</p>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TenBaiHoc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenBaiHoc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Khoá học</p>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.IdKhoaHoc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IdKhoaHoc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 " style="outline-color:antiquewhite">
                                <input type="submit" value="Lưu" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }


            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->