@model IEnumerable<WebApp.Models.Entities.BaiHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}







<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 ">
                        <strong>Danh sách bài học</strong>
                    </div>
                    <div class="col-6 float-end">
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    @using (Html.BeginForm("Index", "BaiHocs", FormMethod.Get))
                    {
                        <p>
                            Tìm theo khoá học: @Html.TextBox("TenKhoaHoc", ViewBag.CurrentFilter as string)
                            <input type="submit" value="Tìm kiếm" />
                        </p>
                    }

                    <div style="margin-left: 10px">
                        @Html.ActionLink("Tạo bài học mới", "Create")
                    </div>


                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TenBaiHoc)
                        </th>



                        <th></th>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index","ChiTietBaiHocs",new { @IdBaiHoc = item.IdBaiHoc})">@Html.DisplayFor(modelItem => item.TenBaiHoc)</a>

                                </td>


                                <td>
                                <td>
                                    <a class="noUnderlined" href=" @Url.Action("Edit","BaiHocs", new { id = item.IdBaiHoc })">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a class="noUnderlined" href=" @Url.Action("Details","BaiHocs", new { id = item.IdBaiHoc })">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                    <a href=" @Url.Action("Delete","BaiHocs", new { id = item.IdBaiHoc })">
                                        <i class="fa-regular fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    }



                </table>

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->