@using WebApp.Models;
@model dynamic


@{ 
    ViewBag.Title = "ThongTinThanhToan";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Không chọn",
        Value = "",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "VNPAYQR",
        Value = "VNPAYQR",

    });
    listItems.Add(new SelectListItem
    {
        Value = "VNBANK",
        Text = "LOCAL BANK"
    });
    listItems.Add(new SelectListItem
    {
        Value = "INTCARD",
        Text = "INTERNATIONAL CARD",
    });
    listItems.Add(new SelectListItem
    {
        Value = "VISA",
        Text = "VISA"
    });
    listItems.Add(new SelectListItem
    {
        Text = "MASTERCARD",
        Value = "MASTERCARD",

    });
    listItems.Add(new SelectListItem
    {
        Text = "JCB",
        Value = "JCB"
    });
    listItems.Add(new SelectListItem
    {
        Text = "UPI",
        Value = "UPI",

    });
    listItems.Add(new SelectListItem
    {
        Value = "NCB",
        Text = "Ngan hang NCB"
    });
    listItems.Add(new SelectListItem
    {
        Value = "SACOMBANK",
        Text = "Ngan hang SacomBank",

    });
    listItems.Add(new SelectListItem
    {
        Value = "EXIMBANK",
        Text = "Ngan hang EximBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "MSBANK",
        Text = "Ngan hang MSBANK",

    });
    listItems.Add(new SelectListItem
    {
        Value = "NAMABANK",
        Text = "Ngan hang NamABank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "VNMART",
        Text = "Vi dien tu VNPAY",

    });
    listItems.Add(new SelectListItem
    {
        Value = "VIETINBANK",
        Text = "Ngan hang Vietinbank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "VIETCOMBANK",
        Text = "Ngan hang VCB",

    });
    listItems.Add(new SelectListItem
    {
        Value = "HDBANK",
        Text = "Ngan hang HDBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "DONGABANK",
        Text = "Ngan hang Dong A",

    });
    listItems.Add(new SelectListItem
    {
        Value = "TPBANK",
        Text = "Ngân hàng TPBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "OJB",
        Text = "Ngân hàng OceanBank",

    });
    listItems.Add(new SelectListItem
    {
        Value = "BIDV",
        Text = "Ngân hàng BIDV"
    });
    listItems.Add(new SelectListItem
    {
        Value = "TECHCOMBANK",
        Text = "Ngân hàng Techcombank",

    });
    listItems.Add(new SelectListItem
    {
        Value = "VPBANK",
        Text = "Ngan hang VPBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "AGRIBANK",
        Text = "Ngan hang Agribank",

    });
    listItems.Add(new SelectListItem
    {
        Text = "Ngan hang ACB",
        Value = "ACB"
    });
    listItems.Add(new SelectListItem
    {
        Value = "SCB",
        Text = "Ngan hang SCB",

    });
    listItems.Add(new SelectListItem
    {
        Value = "OCB",
        Text = "Ngan hang Phuong Dong",

    });

    List<SelectListItem> ngonNgu = new List<SelectListItem>();
    ngonNgu.Add(new SelectListItem
    {
        Text = "Tiếng Việt",
        Value = "vn",
        Selected = true
    });
    ngonNgu.Add(new SelectListItem
    {
        Text = "English",
        Value = "en",
        Selected = true
    });
}

<div class="container" style="margin-top:56px">
    <div class="landing-hero" id="payment-top">
        <div class="row landing-hero-text" style="border:black">
            <h2 class="text-black">Thông tin thanh toán</h2>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">


<link href="~/Public/css/Css_KhoaHoc.css" rel="stylesheet" />

<div class="landing-hero" id="payment-top">
    <div class="row landing-hero-text" style="border:black">
        <h2 class="text-black">Thông tin thanh toán</h2>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-6">
                <div class=" landing-hero-text p-5 text-center" style="border: black">
                    <h2>Chọn phương thức thanh toán</h2>
                    <h6 class="text-yellow">(Hiện tại chúng tôi chỉ chấp nhận thanh toán bằng VNPAY)</h6>
                    <div class="landing-version page-single">
                        <div class="container">
                            <div class="col p-5 text-white">
                                <img src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg" style="width: auto; height: 150px; border-radius: 10px; margin-bottom: 12px;" alt="vnpay-logo">
                                <br />
                                @*<h2>CỔNG THANH TOÁN VNPAY</h2>*@
                                @Html.ActionLink("Ví VNPAY", "ThongTinThanhToan", "Payment", htmlAttributes: new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mg-t-56">

                <div class="form-style-1 user-pro col-6 align-self-center">
                    @using (Html.BeginForm())
                    {
                        @*<h4>Thông tin thanh toán</h4>*@
                        <p><label>Tên khách hàng :</label> @Model.User.TenUser</p>
                        <p><label>Gói khoá học :</label> <strong>@Model.KhoaHoc.TenKhoaHoc</strong></p>
                        <p><label>Số tiền :</label> <strong>@Convert.ToDecimal(@Model.KhoaHoc.GiaGoiKhoaHoc).ToString("#,##0") VND</strong></p>
                        <div class="form-group">
                            <label>Ngân hàng</label>
                            @Html.DropDownList("cboBankCode", listItems, new { @class = "btn dropdown-toggle" })

                        </div>
                        <div class="form-group">
                            <label>Ngôn ngữ</label>
                            @Html.DropDownList("cboLanguage", ngonNgu, new { @class = "btn dropdown-toggle" })

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="Xác nhận">

                        </div>
                        <div class="form-group mg-t-16">
                            <label>Ngôn ngữ</label>
                            @Html.DropDownList("cboLanguage", ngonNgu, new { @class = "btn dropdown-toggle  mg-l-16" })

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit btn-outline-primary btn mg-t-16" type="submit" value="Xác nhận">

                            </div>
                        </div>
                    }
                </div>
            </div>
            
        </div>
    </div>
</div>
