@model IEnumerable<WebApp.Models.Entities.ChiTietBaiHoc>

    @foreach (var item in Model)
    {
        @item.NoiDung1
       @* @item.noidung2
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.noidung3</a>
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.noidung4</a>
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.noidung5</a>
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.noidung6</a>
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.noidung7</a>
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.noidung8</a>
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.noidung9</a>
        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@item.NoiDung10</a>*@
    }



