@using (Html.BeginForm("ChangeInfor", "User"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h4 class="p-5">Thông tin tài khoản</h4>
    <div class="row p-2">
        <div class="col-md-3 form-it">
            <label>Họ tên</label>
        </div>
        <div class="col-md-9">
            <input type="text" placeholder="Nguyễn Văn A" value="@Model.TenUser" style="border-radius:10px!important" name="TenUser">

        </div>
    </div>
    <div class="row p-2">

        <div class="col-md-3 form-it">
            <label>Email</label>
            @* @ViewData["Err"]*@
        </div>
        <div class="col-md-9">
            <input type="email" placeholder="example@email.com" value="@Model.Email" style="border-radius:10px!important" name="Email">

        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-2">
            <input class="submit btn btn-primary" type="submit" value="Lưu thay đổi">
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}