<style>
    .zoom img {
        background: #222f3e;
        border-radius: 0.5em;
        border: 5px solid rgba(255, 255, 255, .05);
        transition: transform .25s, visibility .25s ease-in;
        width: 50%;
    }

    .zoom:hover {
        transform: scale(1.2);
    }
</style>

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> @Model.TenUser</h1>
                    @*<ul class="breadcumb">
                        <li class="active"><a href="@Url.Action("Index","Home")" style="font-weight: bold; }">Trang chủ</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> Thông tin tài khoản</li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single font">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-fav pd-t-16">
                        <p>Chi tiết tài khoản</p>
                        <ul class="tab-links">
                            <li class="@ViewBag.info"><a href="@Url.Action("ShowInfor","User")">Tài khoản</a></li>
                            <li class="@ViewBag.pass"><a href="@Url.Action("ShowInfor","User",new {mode = "changepass"})">Đổi mật khẩu</a></li>
                            <li><a href="@Url.Action("LogOut","User")">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="">
                    @if (ViewBag.mode == null)
                    {
                        @Html.Partial("ChangeInfor")
                    }
                    else
                    {
                        @Html.Action("ChangePassword", "User")
                    }
                </div>
            </div>
        </div>
    </div>
</div>